# Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# IDE specific files
.idea
.idea/*
*.swp
*.swo
.vscode/
*.sublime-workspace
*.sublime-project

# Mac OS specific
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
*.docx
*.pptx
generate_docx_report.py