/* Global styles for all pages */
body {
    background-color: #f8f9fa;
}
h1, h2, h3, h4, h5, h6 {

}
a {
    color: #0056b3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}
.container-bou {
    min-width: 80%;
}
.bou-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.container-box-bou {
    min-width: 80%;
    margin-top: 3rem;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bou-logo {
    height: 70px;
    margin-right: 12px;
    vertical-align: middle;
}
.bou-footer-container {
    padding-bottom: 1em;
    padding-top: 1em;
}

.container.container-bou.bou-header {
    padding-left: 0;
    padding-right: 0;
}

.bou-modal {
    z-index: 999999;
}

.download-buttons {
    flex-wrap: wrap;
    flex-direction: column;
}
.academic-calender {
    flex: 1;
    width: 100%;
}
.academic-calender a {
    display: block;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 1rem;
    }
    .container.container-bou.bou-header {
        padding-left: 1em;
        padding-right: 1em;
    }
    .navbar .navbar-brand span {
        display: block;
        text-wrap: wrap;
    }
} 